/* food.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #000f61;
}


header {
    background-color: #2E99EA;
    color: #F5CB5C;
    text-align: center;
    padding: 20px;
    font-family: 'Sofia', sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px; 
    flex: 0 0 calc(33.33% - 20px); 
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

